:root {
  --main-red: #e81a1e;
  --second-red: #d72932;
  --main-black: #010101;
}

@font-face {
  font-family: "kuro";
  src: url("../../assets/fonts/Kuro-Regular.otf");
}

* {
  font-family: "kuro";
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in-body,
.register-body {
  height: 100vh;
}

#loginForm button,
#registerForm button {
  background-color: var(--second-red);
}

#loginForm button:hover,
#registerForm button:hover {
  background-color: var(--second-red);
}

.container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  text-align: center;
}

.container h2 {
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin: 10px 0;
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

.register-link,
.login-link {
  margin-top: 20px;
  text-align: center;
}

.register-link a,
.login-link a {
  color: var(--second-red);
  text-decoration: none;
}

.register-link a:hover,
.login-link a:hover {
  text-decoration: underline;
}

/* ADMIN SIDEBAR */
/* Logo Container */
.logo-container {
  text-align: center;
  margin-bottom: 20px; /* Space between logo and sidebar items */
}

/* Sidebar Logo */
.sidebar-logo {
  height: auto; /* Maintains aspect ratio */
  width: 150px; /* Adjust based on your preference */
  box-shadow: 1px 4px 8px var(--second-red);
  border-radius: 50%;
  /* Add additional styling as needed */
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--main-black);
  padding-top: 20px;
  transition: transform 0.3s ease;
  z-index: 900;
  transform: translateX(0);
}

.sidebar h1 {
  color: #fff;
  text-align: left;
  padding: 10px 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
}

.sidebar a:hover {
  background-color: var(--second-red);
}

.sidebar a.active {
  background-color: var(--second-red); /* Highlight color */
  font-weight: bold;
}

/* Sub-navigation styles */
.sidebar ul ul {
  display: none;
  padding-left: 20px;
}

.sidebar li:hover ul {
  display: block;
}

.sidebar ul ul li {
  margin-top: 10px;
}

.content {
  margin-left: 250px;
  padding: 20px;
}

#logoutBtn {
  background-color: var(--second-red);
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  margin-top: 20px;
}

#logoutBtn:hover {
  background-color: var(--main-red);
}

.hamburger {
  display: none;
}

/* Small screen styling */
@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-250px);
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .hamburger.open {
    color: #fff;
  }

  .hamburger {
    display: block;
    font-size: 24px;
    background: none;
    border: none;
    color: #333;
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 1000;
  }

  .hamburger:hover {
    background-color: var(--main-red);
  }

  .content {
    margin-left: 0;
    padding: 20px;
    margin-top: 50px;
  }
}

/* PRODUCTS */

#productList {
  list-style: none;
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap onto the next line */
  gap: 20px; /* Space between items */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.product-container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px; /* Fixed width */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  text-align: center; /* Center text */
}

.product-image img {
  width: 100%; /* Make image fit the container width */
  height: auto; /* Maintain aspect ratio */
  max-height: 250px; /* Limit the height of the image */
  border-radius: 5px;
  margin-bottom: 15px; /* Space below the image */
}

.product-name,
.product-category {
  margin: 10px 0; /* Space above and below text */
}

.product-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Space between buttons */
  margin-top: 15px; /* Space above the actions */
}

.product-actions button {
  background-color: var(--second-red);
  color: #fff;
  padding: 10px 15px; /* Adjust padding for a balanced button size */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.product-actions button:hover {
  background-color: #d43f00;
}

/* ARCHIVED */

#archivedProductList {
  list-style: none;
  display: flex;
  flex-wrap: wrap; /* Adjust this if you don't want them to wrap */
  gap: 20px;
}

/* EDIT PRODUCT */

#editProductForm {
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  width: 300px;
}

#editProductForm h2 {
  text-align: center;
  color: var(--second-red);
  margin-bottom: 20px;
}

#editProductForm label {
  display: block;
  margin-bottom: 8px;
  color: #fff;
}

#editProductForm input,
#editProductForm textarea,
#editProductForm select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

#editProductForm button {
  background-color: var(--second-red);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#editProductForm button:hover {
  background-color: #d43f00;
}

/* Add Product Form Styles */

#addProductFormContainer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  display: none;
  width: 300px;
}

#addProductFormContainer h2 {
  text-align: center;
}

#addProductForm h2 {
  color: var(--second-red);
  margin-bottom: 20px;
  text-align: center;
}

#addProductForm label {
  display: block;
  margin-bottom: 8px;
  color: #fff;
}

#addProductForm input,
#addProductForm textarea,
#addProductForm select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

#addProductForm button {
  background-color: var(--second-red);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#addProductForm button:hover {
  background-color: #d43f00;
}

/* ADD CATEGORIES */

/* Style for the form container */
#addCategoryFormContainer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  display: none;
  width: 300px;
}

/* Style for form elements */
#addCategoryForm {
  max-width: 400px;
  margin: 0 auto;
}

#addCategoryFormContainer h2 {
  text-align: center;
}

#addCategoryForm h2 {
  color: var(--second-red);
  margin-bottom: 20px;
  text-align: center;
}

#addCategoryForm label {
  display: block;
  margin-bottom: 8px;
  color: #fff;
}

#addCategoryForm input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

#addCategoryForm button {
  background-color: var(--second-red);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#addCategoryForm button:hover {
  background-color: #d43f00;
}

/* EDIT CATEGORIES */

#editCategoryForm {
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

#editCategoryForm h2 {
  text-align: center;
  color: var(--second-red);
  margin-bottom: 20px;
}

#editCategoryForm label {
  display: block;
  margin-bottom: 8px;
  color: #fff;
}

#editCategoryForm input,
#editCategoryForm textarea,
#editCategoryForm select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

#editCategoryForm button {
  background-color: var(--second-red);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#editCategoryForm button:hover {
  background-color: #d43f00;
}

/* VIEW CATEGORIES */

/* Category List Styling */
#categoryList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  gap: 20px;
  list-style: none;
}

/* Category Item Styling */
.category-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.category-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Category Name Styling */
.category-name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

/* Category Actions Styling */
.category-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

/* Button Styling */
.edit-button,
.delete-button {
  flex: 1;
  background-color: var(--second-red); /* Use your color variable */
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-size: 0.9rem;
}

.edit-button:hover,
.delete-button:hover {
  background-color: #d43f00; /* Darker shade of your color */
}

/* DASHBOARD */

/* Dashboard container styling */

#dashboardStats {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

#dashboardSection h2 {
  text-align: center;
  margin-bottom: 10%;
  margin-right: auto;
}

.dashboard {
  padding: 20px; /* Add padding around the dashboard */
  background-color: #f8f9fa; /* Set background color */
}

.dashboard-title {
  display: flex;
  align-items: center;
}

.dashboard-title p {
  margin-bottom: 10%;
  float: left;
  margin-right: 0;
}

/* Dashboard statistics styling */
.dashboard-stat {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff; /* Set background color for each statistic */
  border-radius: 8px; /* Add border radius for rounded corners */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
}

.stat-icon {
  width: 60px; /* Adjust icon container width */
  height: 60px; /* Adjust icon container height */
  background-color: var(
    --second-red
  ); /* Background color for the icon container */
  border-top-left-radius: 8px; /* Add rounded corners only to the top left */
  border-bottom-left-radius: 8px; /* Add rounded corners only to the bottom left */
  display: flex;
  justify-content: center;
  align-items: center;
}

.stat-icon i {
  color: #fff; /* Icon color */
  font-size: 30px; /* Icon size */
}

.stat-info {
  flex-grow: 1; /* Expand to fill remaining space */
  padding: 20px; /* Add padding around statistic info */
}

.stat-label {
  margin-bottom: 5px; /* Adjust margin between label and value */
  font-size: 15px; /* Adjust font size of label */
  color: #495057; /* Label color */
}

.stat-value {
  font-size: 20px; /* Adjust font size of value */
  font-weight: bold; /* Make value bold */
  color: #343a40; /* Value color */
}

/* REGISTER USERS */

#registerUserFormContainer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  display: none;
  width: 300px;
}

#registerUserFormContainer h2 {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

#registerUserForm label {
  display: block;
  margin-bottom: 8px;
  color: #fff;
}

#registerUserForm input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#registerUserForm button {
  background-color: var(--second-red);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#registerUserForm button:hover {
  background-color: #d43f00;
}

/* DISPLAY USERS*/

/* Styling for the user list container */
#usersList {
  list-style: none;
  display: none;
  padding: 0;
  margin: 20px 0;
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
}

/* Users List Styling */
#usersList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  gap: 20px;
  list-style: none;
}

/* User Item Styling */
.user-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.user-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

/* Username Styling */
.user-item span {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

/* Block/Unblock Button Styling */
.block-button {
  background-color: var(--second-red); /* Use your color variable */
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-size: 0.9rem;
  transition: background-color 0.2s ease-in-out;
}

.block-button:hover {
  background-color: #d43f00; /* Darker shade of your color */
}
